DB_HOST=telecom-db.postgres.database.azure.com
DB_USER=telecom_admin
DB_PASSWORD=hKUeBmjwknDvDoUR8Hoq1Mrc8R/dYg9IFmgKmB+4czE=
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
CI_REGISTRY_IMAGE=registry.gitlab.com/pfe-billcom/telecom-dashboard
DB_HOST=telecom-db.postgres.database.azure.com
DB_PORT=5432
DB_NAME=milan_telecom
DB_USERNAME=telecom_admin
DB_SSL_MODE=require
EUREKA_SERVER_URL=http://eureka-server:8761/eureka/
KEYCLOAK_URL=https://telcompfebackend.francecentral.cloudapp.azure.com/auth
KEYCLOAK_REALM=telecom
KEYCLOAK_CLIENT_ID=gateway-service
KEYCLOAK_CLIENT_SECRET=admin
