global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'kafka'
    static_configs:
      - targets: ['kafka:7071']

  - job_name: 'keycloak'
    metrics_path: /realms/master/metrics
    static_configs:
      - targets: ['keycloak:8080']